.PriceFilter{
    width: 232px;
    height: 123px;
    padding-top: 44px;
    h1{
        width: 97px;
        height: 29px;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color:  #002C6A;
    }
}

.PriceSelect{
    padding-top: 16px;
    input{
      cursor: pointer;
    }
}

