.bestProducts {
    width: 255px;
    height: 351px;
    border-radius: 20px;
    box-shadow: 5px 20px 60px 0px #165CBF1A;
    transition: 0.4s;
    background-color: #FFFFFF;
    cursor: pointer;
    &:hover {
        width: 285px;
        height: 475px;
        box-shadow: 5px 50px 50px 0px #165cbf4f;
        z-index: 555;
    }
}

.bestProductImage {
    width: 100%;
    height: 188.04px;
    img {
        width: 100%;
        height: 188px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.bestProductTitle {
    width: 215.64px;
    min-height: 23px;
    max-height: 43px;
    padding: 0 16px;
    span {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        color: #29292D;
    }
}

.bestProductArticul {
    width: 83px;
    padding: 0 16px;
    height: 15px;
    span {
        font-family: Ruda;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: #B3C0D2;
    }
}

.bestProductBottomPart {
    width: 100%;
    padding: 0 16px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;

}

.bestProductCurrency {
    width: 100px;
    height: 30px;
    span {
        color: #002C6A;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.bestProductLikeIcon {
    width: 32px;
    height: 30px;
    svg {
        width: 25px;
        height: 21px;
        cursor: pointer;
        path:hover {
            fill: red;
        }
    }
}